// Component configuration

$componentName: 'Dust';

// --------------------------------------------------


.c-#{$componentName} {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}