<% for(var i=0; i <= 7; i++) {%>
  <div class="Picture">
    <img class="Lazy"
        draggable="false"
        src="./images/spacer.png"
        data-src="./images/ac/Assassins_Creed_Origin_<%= i %>.jpg"
        data-srcset="./images/ac/Assassins_Creed_Origin_<%= i %>.jpg 1x">
  </div>
<% }; %>
