<% for(var i=0; i <= 6; i++) {%>
  <div class="Picture">
    <img class="Lazy"
        draggable="false"
        data-action="zoom"
        src="./images/spacer.png"
        data-src="./images/ac/Assassins_Creed_Origin_<%= i %>.jpg"
        data-srcset="./images/ac/Assassins_Creed_Origin_<%= i %>@2x.jpg 2x, ./images/ac/Assassins_Creed_Origin_<%= i %>.jpg 1x">
  </div>
<% }; %>
