<% for(var i=0; i <= 3; i++) {%>
  <div class="Picture">
    <img class="Lazy"
        draggable="false"
        src="./images/spacer.png"
        data-src="./images/ff15/FFXV_<%= i %>.jpg"
        data-srcset="./images/ff15/FFXV_<%= i %>.jpg 1x">
  </div>
<% }; %>
