<% for(var i=1; i <= 13; i++) {%>
  <div class="Picture">
    <img class="Lazy"
        draggable="false"
        src="./images/gow/God_of_War_<%= i %>.jpg"
        data-src="./images/gow/God_of_War_<%= i %>.jpg"
        data-srcset="./images/gow/God_of_War_<%= i %>.jpg 1x">
  </div>
<% }; %>
