<% for(var i=0; i <= 8; i++) {%>
  <div class="Picture">
    <img class="Lazy"
        draggable="false"
        src="./images/spacer.png"
        data-src="./images/horizon/Horizon_Zero_Dawn_<%= i %>.jpg"
        data-srcset="./images/horizon/Horizon_Zero_Dawn_<%= i %>.jpg 1x">
  </div>
<% }; %>
