html {
  background-color: #020202;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
                Helvetica, Arial, Ubuntu, sans-serif,
                "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  margin: 0;
  color: #FFFFFF;
}

::-moz-selection { background: #D480AA; color: #FFF; }
::selection { background: #D480AA; color: #FFF; }

a::-moz-selection { background: #00E2BC; color: #FFF; }
a::selection { background: #00E2BC; color: #FFF; }

main {
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
}


h1 {
  font-size: 42px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

@media (min-width: 60em) {
  h1 {
    font-size: 72px;
  }
}


h2 {
  font-size: 38px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

@media (min-width: 60em) {
  h2 {
    font-size: 50px;
  }
}


h3 {
  font-weight: 500;
  font-size: 30px;
  position: relative;
  z-index: 0;
}


h3::before {
  content: '';
  left: 0;
  bottom: 4px;
  background-color: #00E2BC;
  opacity: 0.4;
  height: 8px;
  width: 90px;
  display: block;
  position: absolute;
  z-index: -1;
}



p {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 300;
}

a {
  color: #D480AA;
  text-decoration: none;
}

a:not([ne-button]):not(.Back):hover {
  text-decoration: underline;
  -webkit-text-decoration-color: #00E2BC;
          text-decoration-color: #00E2BC;
}


ul {
  padding-left: 0;
  font-weight: 300;
}

li {
  list-style-type: none;
  padding: 4px 0 4px 32px;
  background-image: url('./images/bullet.svg');
  background-position: 0 10px;
  background-repeat: no-repeat;
  background-size: 16px 10px;
}


.Back {
  display: inline-flex;
  line-height: 14px;
  color: #FFF;
  position: absolute;
  top: 24px;
  left: 32px;
  z-index: 0;
}

.Back::before {
  content: "";
  width: 18px;
  height: 14px;
  margin-right: 16px;
  background-image: url("./images/left-arrow.svg");
  background-size: 18px 14px;
}


.Back::after {
  content: '';
  right: 0;
  bottom: -4px;
  background-color: #D480AA;
  height: 8px;
  width: 90px;
  display: block;
  position: absolute;
  z-index: -1;
  transition: all 200ms ease-in-out;
}


.Back:hover::after {
  right: -4px;
}


.HeroBanner {
  box-sizing: border-box;
  padding: 0 24px;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 6;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  align-items: center;
  flex-direction: column;
}


@media (min-width: 60em) {
  .HeroBanner {
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 5;
  }
}

.Title span {
  color: #00e2bc;
}

.Subtitle {
  margin-top: 0;
  font-size: 22px;
  line-height: 1.5;
  text-align: center;
  font-weight: 300;
}

@media (min-width: 60em) {
  .Subtitle {
    font-size: 30px;
  }
}


.Screens {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 2px;
  grid-auto-flow: dense;
  margin-top: 100px;
}

.Picture {
  overflow: hidden;
  background-color: #070707;
}

.Picture[data-span="2"] {
  grid-column-end: span 2;
  grid-row-end: span 2;
}

.Picture[data-span="3"] {
  grid-column-end: span 3;
  grid-row-end: span 4;
}

.Picture img {
  display: block;
  margin: auto;
  max-width: 100%;
  min-height: 196px;
  object-fit: cover;
  object-position: center;
  user-select: none;
  will-change: filter, image-rendering;
  filter: brightness(100%);
  transition: filter 1s linear;
  image-rendering: pixelated;
  image-rendering: optimizespeed;
}

.Picture img.Lazy {
  filter: brightness(10%);
}
