@import url("https://unpkg.com/@native-elements/ne-button/dist/ne-button.css");

html {
  background-color: #11131C;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
                Helvetica, Arial, Ubuntu, sans-serif,
                "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  margin: 0;
  color: #FFFFFF;
}


main {
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  margin-top: 5rem;
}


h1 {
  font-size: 72px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 1.5rem;
}


h2 {
  font-size: 55px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 1.5rem;
}


h3 {
  font-weight: 500;
  font-size: 30px;
  position: relative;
  z-index: 0;
}


h3::before {
  content: '';
  left: 0;
  bottom: 4px;
  background-color: #00E2BC;
  opacity: 0.4;
  height: 8px;
  width: 90px;
  display: block;
  position: absolute;
  z-index: -1;
}



p {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 100;
}

a {
  color: #D480AA;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: #00E2BC;
}


ul {
  padding-left: 0;
  font-weight: 300;
}

li {
  list-style-type: none;
  padding: 4px 0 4px 32px;
  background-image: url('./bullet.svg');
  background-position: 0 10px;
  background-repeat: no-repeat;
  background-size: 16px 10px;
}

[ne-button] {
  --ne-button-font-size: 18px;
  --ne-button-background: #D480AA;
  --ne-button-hover-background: rgb(235, 149, 192);
  --ne-button-outline-color: rgba(255,22,140,0.30);
  --ne-button-radius: 8px;
  --ne-button-y-padding: 16px;
  --ne-button-x-padding: 24px;
  --ne-button-shadow: 0 9px 45px 0 rgba(255,22,140,0.30);
  --ne-button-active-background: rgb(235, 149, 192);

  transition: all 200ms ease-out;
  line-height: 22px;
  -webkit-appearance: initial;
  appearance: initial;
}

[ne-button]:hover,
[ne-button]:active {
  transform: translateY(-2px);
  --ne-button-outline-color: transparent;
}

.SecondaryButton {
  --ne-button-background: transparent;
  --ne-button-hover-background: transparent;
  --ne-button-shadow: 0 9px 45px 0 rgba(0,0,0,0.30);
  --ne-button-active-background: transparent;
}



.HeroBanner {
  box-sizing: border-box;
  padding: 0 24px;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  align-items: center;
  flex-direction: column;
}


@media (min-width: 60em) {
  .HeroBanner {
    grid-column-start: 2;
    grid-column-end: 5;
  }
}


.Logo {
  width: 100%;
  max-width: 100px;
}


.Subtitle {
  grid-area: "h";
  margin-top: 0;
  font-size: 30px;
  line-height: 42px;
  text-align: center;
  font-weight: 300;
}


.HeroActions {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  flex-wrap: wrap;
  align-items: end;
}


.HeroActions a {
  display: inline-flex;
}


.HeroActions a + a {
  margin-top: 16px;
}

@media (min-width: 30em) {
  .HeroActions a + a {
    margin-top: 0;
    margin-left: 24px;
  }
}


.Share {
  display: flex;
  justify-content: center;
  align-items: end;
  height: 56px;
}

.Social {
  transition: filter 200ms ease-out;
}

.Social:hover {
  filter: brightness(150%);
}

.Share .Social + .Social {
  margin-left: 24px;
}


.Screens {
  width: 100%;
  margin-top: 60px;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;
  user-select: none;
  -webkit-user-select: none;
}


.Details {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 4;
  grid-template-areas: "l"
                       "r";
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  margin-top: -50px;
  padding: 0 24px;
  box-sizing: border-box;
  grid-gap: 30px;
}

@media (min-width: 60em) {
  .Details {
    grid-column-start: 2;
    grid-column-end: 5;
    padding: 0;
    grid-template-areas: "l r";
    grid-template-columns: 1.5fr 1fr;
    grid-gap: 100px;
    margin-top: -130px;
    margin-bottom: 100px;
  }
}


.Overview {
  grid-area: l;
  box-sizing: border-box;
}


.Features {
  grid-area: r;
}


.Teams {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 5;
}


@media (min-width: 60em) {
  .Teams {
    grid-column-start: 2;
    grid-column-end: 5;
  }
}