@define-mixin dark-theme {
  /* Semantic Colors */
  --backgroundColor: #000;
  --foregroundColor: #D2D2D2;
  --callToActionColor: #2B7F55;
  --vibrantBackground: rgba(0, 0, 0, 0.7);

  /* Unit Colors */
  --lightGrayColor: #0B0C0C;
}