@define-mixin dark-theme {
  /* Semantic Colors */
  --backgroundColor: #000;
  --foregroundColor: #FFF;
  --callToActionColor: #2b7f55;
  --vibrantBackground: rgba(0, 0, 0, 0.7);

  /* Unit Colors */
  --grayColor: rgba(255, 255, 255, 0.3);
}