@define-mixin light-theme {
  /* Semantic Colors */
  --backgroundColor: #FFF;
  --foregroundColor: #000;
  --callToActionColor: #00E2BC;

  /* Unit Colors */
  --grayColor: #969FA9;
  --lightGrayColor: #F3F6F9;
}