
// ↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧
// Pages commons tag
// Last update: 31/03/2016
// ↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥


// Metro mode compatibility.
@-ms-viewport {
  width: device-width;
}


* {
  box-sizing: border-box;
}


:root {
  font-size: 100%;
  background-color: #000;
  --loader-size: 150px;
  --text-color: #CECECE; /* Fill data-text */
  --color-one: #2979FF;
  --color-two: #FF1744;
  --color-three: #FFFF8D;
  --color-four: #B2FF59;
  --light-size: 3px;
}


body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: red;
  overflow: hidden;
  animation: fadeIn 2s ease-out;
}


::selection {
  color: #FFF;
  text-shadow: none;
  background-color: #000;
}
