---
title: Mattia Astorino | Design & Code
---

<div class="c-Loader" data-text="">
  <span class="c-Loader__Circle"></span>
  <span class="c-Loader__Circle"></span>
  <span class="c-Loader__Circle"></span>
  <span class="c-Loader__Circle"></span>
</div>


<main class="o-centering">
  <section class="o-centering__content">
    <div class="c-balloon" itemscope itemtype="http://schema.org/Person">
      <h1 class="c-balloon__title" itemprop="name">Mattia Astorino</h1>
      <p class="c-balloon__text" itemprop="jobTitle">

        <%= link_to 'Design', 'https://dribbble.com/astorino_mattia', {
          :class => 'c-displayLink c-displayLink--pink',
          :target => '_blank',
          :title => 'Follow my work on Dribbble'
        } %>,

        <%= link_to 'Code', 'https://github.com/equinusocio', {
          :class => 'c-displayLink c-displayLink--green',
          :target => '_blank',
          :title => 'Follow my lab on GitHub'
        } %> and

        <%= link_to 'anything else', 'https://twitter.com/equinusocio', {
          :class => 'c-displayLink c-displayLink--cyan',
          :target => '_blank',
          :title => 'Follow me on Twitter'
        } %>.
      </p>
    </div>
  </section>
</main>